*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-small) {
    font-size: 55%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: $color-blue-dark;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}
.App {
  padding-top: 4rem;
}

.btn {
  cursor: pointer;
  border: none;
}

input {
  font-family: inherit;
  transition: all 0.2s;
  border: 1px solid $color-gray;
  border-radius: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &::placeholder {
    color: $color-gray;
  }
  &:focus {
    border-color: #000;
    outline: none;
  }
  &::-webkit-validation-bubble-message {
    display: none;
  }
}
