.header {
  padding: 0 4rem 30rem 4rem;
  background-image: url("./img/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-size: contain;
  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 20rem;
  }
  @media only screen and (max-width: $bp-tiny) {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 12rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
  }
  &__logo-container {
    @media only screen and (max-width: $bp-tiny) {
      flex-basis: 40%;
    }
  }

  &__logo-img {
    @media only screen and (max-width: $bp-small) {
      width: 70%;
    }
  }

  &__list {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 2rem;
      @media only screen and (max-width: $bp-small) {
        margin-right: 1rem;
      }
    }
  }
  &__link {
    color: $color-blue-dark;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  &__hero {
    display: flex;
    align-items: center;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }
  &__hero-text-container {
    flex-basis: 50%;
    padding-right: 12rem;
    @media only screen and (max-width: $bp-big) {
      padding-right: 2rem;
    }
    @media only screen and (max-width: $bp-medium) {
      padding-right: 0;
      order: 2;
      text-align: center;
    }

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__hero-image-container {
    flex-basis: 50%;
    @media only screen and (max-width: $bp-medium) {
      order: 1;
      margin-bottom: 4rem;
    }
    & img {
      @media only screen and (max-width: $bp-medium) {
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  &__form-container {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: $bp-medium) {
      justify-content: space-between;
    }
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      flex-wrap: nowrap;
      & input {
        margin-bottom: 0;
      }
      & .error-container {
        margin-bottom: 2rem;
      }
    }
  }
  &__input {
    flex-basis: 48%;
    margin-right: 2rem;
    border: 1px solid $color-gray;
    border-radius: 0.3rem;
    padding-left: 2rem;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 2rem;
      order: 1;
    }
  }
}

.section-info {
  padding: 4rem 4rem 10rem 4rem;
  background-color: $color-blue-gray;
  @media only screen and (max-width: $bp-tiny) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  &__content {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }
  &__text-container {
    flex-basis: 50%;
    @media only screen and (max-width: $bp-medium) {
      order: 2;
    }

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__image-container {
    flex-basis: 50%;

    @media only screen and (max-width: $bp-medium) {
      order: 1;
      margin-bottom: 4rem;
      & img {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
  &__button-container {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
    }
  }
  &__testimonial {
    margin-top: 5rem;
    width: 65%;
    padding: 3rem;
    background-color: #fff;
    @media only screen and (max-width: $bp-medium) {
      margin-left: auto;
      margin-right: auto;
    }
    @media only screen and (max-width: $bp-small) {
      width: 85%;
    }

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__testimonial-img {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__user {
    display: flex;
    align-items: center;
    & img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  &__user-image-container {
    margin-right: 1rem;
  }
}

.section-signup {
  padding: 8rem 4rem;
  background-color: $color-blue-light;
  color: #fff;
  @media only screen and (max-width: $bp-tiny) {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: stretch;
    }
    & > * {
      flex-basis: 40%;
    }
  }
  &__text-container {
    @media only screen and (max-width: $bp-medium) {
      text-align: center;
      margin-bottom: 4rem;
    }
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__form {
    @media only screen and (max-width: $bp-medium) {
      width: 60%;
      margin: 0 auto;
    }
  }
  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__input {
    width: 80%;
    padding: 1rem 3rem;
    margin-bottom: 1.5rem;
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
    & ~ p {
      color: #fff;
      opacity: 0.7;
      margin-bottom: 1rem;
    }
  }
}

.footer {
  padding: 8rem 4rem;
  background-color: $color-blue-dark;
  color: #fff;
  @media only screen and (max-width: $bp-tiny) {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  &__logo-container {
    margin-bottom: 2rem;
    & svg path {
      fill: #fff;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

  &__contact {
    flex-basis: 25%;
    margin-right: auto;
    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 3rem;
    }
  }
  &__phone,
  &__email {
    display: flex;
  }
  &__phone {
    margin-bottom: 2rem;
  }
  &__icon-container {
    margin-right: 2rem;
  }

  &__nav {
    flex-basis: 40%;
    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.2rem;
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    @media only screen and (max-width: $bp-medium) {
      &:nth-child(2) {
        grid-row: 5 / 6;
      }
      &:nth-child(5) {
        grid-row: 3 / 4;
      }
      &:last-child {
        grid-row: 4 / 5;
        margin-bottom: 3.5rem;
      }
    }
  }
  &__link {
    color: #fff;
    transition: all 0.2s;
    &:hover {
      color: $color-blue-light;
    }
  }

  &__social-media {
    flex-basis: 20%;
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
    }
    & > *:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__social-media-icon-container {
    & .icon-container {
      border: 1px solid #fff;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      position: relative;
      transition: all 0.2s;
      &:hover {
        border-color: $color-blue-light;
        & svg {
          fill: $color-blue-light;
        }
      }

      & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.5rem;
        height: 1.5rem;
        fill: #fff;
        transition: all 0.2s;
      }
    }
  }
}
