// color

$color-blue-dark: hsl(243, 87%, 12%);
$color-blue-light: hsl(238, 22%, 44%);
$color-blue-bright: hsl(224, 93%, 58%);
$color-blue-gray: hsl(240, 75%, 98%);
$color-cyan: hsl(170, 45%, 43%);
$color-gray: hsl(0, 0%, 75%);
