*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #070439;
  font-size: 1.6rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif; }

ul {
  list-style: none; }

a,
a:link,
a:visited {
  text-decoration: none; }

img {
  display: block;
  width: 100%; }

.App {
  padding-top: 4rem; }

.btn {
  cursor: pointer;
  border: none; }

input {
  font-family: inherit;
  transition: all 0.2s;
  border: 1px solid #bfbfbf;
  border-radius: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  input::placeholder {
    color: #bfbfbf; }
  input:focus {
    border-color: #000;
    outline: none; }
  input::-webkit-validation-bubble-message {
    display: none; }

.header {
  padding: 0 4rem 30rem 4rem;
  background-image: url("./img/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-size: contain; }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem; }
  .header__list {
    display: flex; }
    .header__list > *:not(:last-child) {
      margin-right: 2rem; }
  .header__link {
    color: #070439;
    font-family: "Raleway", sans-serif;
    font-weight: 600; }
    .header__link:hover {
      text-decoration: underline; }
  .header__hero {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .header__hero {
        flex-direction: column; } }
  .header__hero-text-container {
    flex-basis: 50%;
    padding-right: 12rem; }
    @media only screen and (max-width: 62.5em) {
      .header__hero-text-container {
        padding-right: 2rem; } }
    @media only screen and (max-width: 50em) {
      .header__hero-text-container {
        padding-right: 0;
        order: 2;
        text-align: center; } }
    .header__hero-text-container > *:not(:last-child) {
      margin-bottom: 1rem; }
  .header__hero-image-container {
    flex-basis: 50%; }
    @media only screen and (max-width: 50em) {
      .header__hero-image-container {
        order: 1;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 50em) {
      .header__hero-image-container img {
        width: 80%;
        margin: 0 auto; } }
  .header__form-container {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .header__form-container {
        justify-content: space-between; } }
    @media only screen and (max-width: 37.5em) {
      .header__form-container {
        flex-direction: column; } }
  .header__input {
    flex-basis: 48%;
    margin-right: 2rem;
    border: 1px solid #bfbfbf;
    border-radius: 0.3rem;
    padding-left: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .header__input {
        margin-right: 0;
        margin-bottom: 2rem; } }

.section-info {
  padding: 4rem 4rem 10rem 4rem;
  background-color: #f6f6fe; }
  .section-info__content {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .section-info__content {
        flex-direction: column; } }
  .section-info__text-container {
    flex-basis: 50%; }
    @media only screen and (max-width: 50em) {
      .section-info__text-container {
        order: 2; } }
    .section-info__text-container > *:not(:last-child) {
      margin-bottom: 2rem; }
  .section-info__image-container {
    flex-basis: 50%; }
    @media only screen and (max-width: 50em) {
      .section-info__image-container {
        order: 1;
        margin-bottom: 4rem; }
        .section-info__image-container img {
          width: 80%;
          margin: 0 auto; } }
  .section-info__button-container {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .section-info__button-container {
        justify-content: center; } }
  .section-info__testimonial {
    margin-top: 5rem;
    width: 65%;
    padding: 3rem;
    background-color: #fff; }
    @media only screen and (max-width: 50em) {
      .section-info__testimonial {
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (max-width: 37.5em) {
      .section-info__testimonial {
        width: 85%; } }
    .section-info__testimonial > *:not(:last-child) {
      margin-bottom: 1rem; }
  .section-info__testimonial-img {
    width: 1.5rem;
    height: 1.5rem; }
  .section-info__user {
    display: flex;
    align-items: center; }
    .section-info__user img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%; }
  .section-info__user-image-container {
    margin-right: 1rem; }

.section-signup {
  padding: 8rem 4rem;
  background-color: #585989;
  color: #fff; }
  .section-signup__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .section-signup__content {
        flex-direction: column;
        align-items: stretch; } }
    .section-signup__content > * {
      flex-basis: 40%; }
  @media only screen and (max-width: 50em) {
    .section-signup__text-container {
      text-align: center;
      margin-bottom: 4rem; } }
  .section-signup__text-container > *:not(:last-child) {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 50em) {
    .section-signup__form {
      width: 60%;
      margin: 0 auto; } }
  .section-signup__form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .section-signup__input {
    width: 80%;
    padding: 1rem 3rem;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 50em) {
      .section-signup__input {
        width: 100%; } }
    .section-signup__input ~ p {
      color: #fff;
      opacity: 0.7;
      margin-bottom: 1rem; }

.footer {
  padding: 8rem 4rem;
  background-color: #070439;
  color: #fff; }
  .footer__logo-container {
    margin-bottom: 2rem; }
    .footer__logo-container svg path {
      fill: #fff; }
  .footer__details {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .footer__details {
        flex-direction: column; } }
  .footer__contact {
    flex-basis: 25%;
    margin-right: auto; }
    @media only screen and (max-width: 50em) {
      .footer__contact {
        margin-bottom: 3rem; } }
  .footer__phone, .footer__email {
    display: flex; }
  .footer__phone {
    margin-bottom: 2rem; }
  .footer__icon-container {
    margin-right: 2rem; }
  .footer__nav {
    flex-basis: 40%; }
    @media only screen and (max-width: 50em) {
      .footer__nav {
        margin-bottom: 4rem; } }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.2rem; }
    @media only screen and (max-width: 50em) {
      .footer__list {
        grid-template-columns: 1fr; } }
  @media only screen and (max-width: 50em) {
    .footer__item:nth-child(2) {
      grid-row: 5 / 6; }
    .footer__item:nth-child(5) {
      grid-row: 3 / 4; }
    .footer__item:last-child {
      grid-row: 4 / 5;
      margin-bottom: 3.5rem; } }
  .footer__link {
    color: #fff;
    transition: all 0.2s; }
    .footer__link:hover {
      color: #585989; }
  .footer__social-media {
    flex-basis: 20%;
    display: flex;
    align-items: flex-start; }
    @media only screen and (max-width: 50em) {
      .footer__social-media {
        justify-content: center; } }
    .footer__social-media > *:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__social-media-icon-container .icon-container {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    position: relative;
    transition: all 0.2s; }
    .footer__social-media-icon-container .icon-container:hover {
      border-color: #585989; }
      .footer__social-media-icon-container .icon-container:hover svg {
        fill: #585989; }
    .footer__social-media-icon-container .icon-container svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;
      height: 1.5rem;
      fill: #fff;
      transition: all 0.2s; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.heading-primary {
  line-height: 1.5; }

.heading-tertiary {
  font-size: 2.5rem; }

.btn-primary {
  padding: 1rem 3rem;
  background-color: #3065f8;
  color: #fff;
  flex-basis: 40%;
  border-radius: 0.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  transition: all 0.2s; }
  @media only screen and (max-width: 50em) {
    .btn-primary {
      flex-basis: 48%;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .btn-primary {
      margin-bottom: 2rem; } }
  .btn-primary:hover {
    background-color: #537ff9; }

.btn-secondary {
  color: #3c9f8f;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  transition: all 0.2s; }
  .btn-secondary:hover {
    color: #47ebcf; }
    .btn-secondary:hover svg {
      fill: #47ebcf; }
    .btn-secondary:hover::after {
      background-color: #47ebcf; }
  .btn-secondary::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #3c9f8f;
    transition: all 0.2; }

.btn-div {
  display: inline-block;
  margin-left: 0.3rem; }
  .btn-div svg {
    fill: #3c9f8f;
    transition: all 0.2s; }

.heading-secondary {
  font-size: 3.5rem; }
  @media only screen and (max-width: 50em) {
    .heading-secondary {
      text-align: center; } }

.heading-user {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 800; }

.paragraph-secondary {
  width: 80%; }
  @media only screen and (max-width: 50em) {
    .paragraph-secondary {
      width: 100%; } }

.paragraph-testimonial {
  font-size: 1.5rem; }

.paragraph-user {
  font-size: 1.3rem; }

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.icon-link {
  height: 100%;
  width: 100%; }

.error {
  border-color: red;
  margin-bottom: 0; }
  @media only screen and (max-width: 37.5em) {
    .error {
      margin-bottom: 2rem; } }

.error-text {
  color: red;
  font-size: 1.4rem; }
  @media only screen and (max-width: 50em) {
    .error-text {
      text-align: left; } }
